
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {{> includes/nav-about}}
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">About</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/despre.jpg" border="0" alt="">
                    </div>

                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Cateva vorbe despre</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                            <p>
                                In engleza suna asa:"I'm complicated!",adica sunt un tip complicat.Toata viata antreprenor,adica om liber!
                                La 35 de ani am scris primul meu "Hello world",indrumat de bunul meu prieten si partener Stephan.
                                Iubesc masinile puternice cu motoare mari pe benzina,aspirate,mac-urile,si cafeaua.Ador sa scriu cod si sa fac drift.
                                Inca invat chestii noi si voi continua sa o fac..
                    
                            </p>
                        </div>




                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Cred in..</h3>

                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                            <p>
                               Schimbare prin implicare si educatie.Cred in faptul ca sistemul nostru de invatamant trebuie schimbat fundamental.
                               De asemenea,cu tarie,in introducerea in programa scolara a orei de cod.Mai ales copii trebuie sa invete de timpuriu sa scrie cod.Chiar daca
                               nu toti vor devenii "programatori".
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Crafted with love in Romania</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>

