<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row" style="background-color: #263238">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div><!--imaginea se afla in css-->
                    <span class="mdl-layout__title" style="color: white">Alexandru Petru</span>
                </span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="/">Portofoliu</a>
            <a class="mdl-navigation__link  is-active" href="/blog">Blog</a>
            <a class="mdl-navigation__link" href="/about">Despre</a>
            <a class="mdl-navigation__link" href="/contact">Contact</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link is-active" href="/">Portofoliu</a>
        <a class="mdl-navigation__link" href="/blog">Blog</a>
        <a class="mdl-navigation__link" href="/about">Despre</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
    </nav>
</div>