<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo">WELCOME TO MY SITE
                        <p>I wish i were there</p>
                    </div><!--imaginea se afla in css aici pot sa pun un paragraf si sa inlocuiesc cu text-->
                    <span class="mdl-layout__title">Alexandru Petru</span>
                </span>
    </div><!--inchide div ul in care pot sa pun imaginea pentru logo si imaginea de fundal a hedearului-->


    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link is-active" href="/">Portofoliu</a>
            <a class="mdl-navigation__link" href="/blog">Blog</a>
            <a class="mdl-navigation__link" href="/about">Despre</a>
            <a class="mdl-navigation__link" href="/contact">Contact</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link is-active" href="/">Portofoliu</a>
        <a class="mdl-navigation__link" href="/blog">Blog</a>
        <a class="mdl-navigation__link" href="/about">Despre</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
    </nav>
</div>
